body{
    height: 100%;
    width: 100%;
}

#page1 h1{
    height: 100%;
    width: 100%;
    background-color: aqua;
}
#page2{
    height: 100%;
    width: 100%;
    background-color: red;
    
}
#page3{
    height: 100%;
    width: 100%;
    background-color: black;
}

#page3 h1{
    height: 100%;
}

#page2 h1{
    font-size: 40vw;
    text-transform: uppercase;
    font-family: 800;
    
}